# You can get your access key from Serverless Framework dashboard
SERVERLESS_ACCESS_KEY=

# Profiles can be created in the "~/.aws/credentials"
AWS_PROFILE=
# Or, you can just enter here your AWS credentials:
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS KMS
KMS_KEY_ID=
